Page{
    background-color: white;
}
.fh{
    font-size: 16px;
    color:#FB8901;
}
.title-label{
    color: black;
    font-size: 18px;
}
.nsChatView-sendMessageArea {
    margin: 0,0,0,0;
    background-color: white;
}
.nsChatView-messageImage {
    width: 250;
}

.nsChatView-messageList {
    background-color: #eeeeee;
    border-color: transparent;
    border-width: 0;
    margin: 0;
}
.ios_actionBar{
    background-color: white;;
    color:#FB8901;
}
.ios_title{
    color: black;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-avatar,
.nsChatView-messageList .nsChatView-item-right .nsChatView-avatar {
    margin-left: 5;
    margin-right: 5;
    margin-top: 10;
    border-radius: 15;
    width: 30;
    height: 30;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-separator,
.nsChatView-messageList .nsChatView-item-right .nsChatView-separator {
    border-color: transparent;
    border-width: 0;
    width: 32;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-message,
.nsChatView-messageList .nsChatView-item-right .nsChatView-message {
    margin: 5;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea,
.nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    border-radius: 3;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea {
    background-color: white;
}

.nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    background-color: #0da0fd;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content,
.nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content {
    margin: 10,10,10,10;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea Label,
.nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea Label {
    margin: 0;
}

.nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content Label {
    color: black;
}
.content{
    background-color: #eeeeee;
}

.nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content Label {
    color: white;
}

.nsChatView-name {
    font-size: 12;
}

.nsChatView-date {
    font-size: 11;
    margin-bottom: 10;
    margin-top: 10;
}

.nsChatView-messageField {
    font-size: 14;
    border-radius: 3;
    background-color:#eeeeee;
    height: 36;
    margin-left: 5;
    margin-bottom: 5;
    margin-top: 5;
    
}

.nsChatView-messageButton {
    background-color: #0da0fd;
    color: white;
    margin: 5;
    height: 36;
    width: 18%;
    border-radius: 3;
    
}

.nsChatView-image {
    height: 28.5;
    width: 28.5;
    margin-left: 5;
    margin-bottom: 5;
    margin-top: 5;
    
}

.nsChatView-catlayout {
    margin-left: 20;
    margin-bottom: 20;
    margin-top: 15;
}

.nsChatView-catimage {
    height: 58.5;
    width: 58.5;
}

.nsChatView-newTask {
    font-size: 14;
    background-color: white;
    border-radius: 5;
    margin: 10,20,10,10;
}
.nsChatView-newTaskNumber ,.nsChatView-receiver,.nsChatView-deliver{
    margin-top: 8;
    margin-left: 10;
    margin-right: 10;
}
.nsChatView-newTaskNumber .new {
    background-color: #0da0fd;
    color:white;
    font-size: 12;
    padding: 1 2;
    border-radius: 2;
}
.nsChatView-newTaskNumber .newTaskId {
    margin-left: 5;
    color: #3a3a3a;
}
.nsChatView-receiver {
    font-size: 17;
    color: #3a3a3a;
}
.nsChatView-deliver{
    color:#0da0fd;
    margin-bottom: 8;
}
.nsChatView-messageText{
    width: 60%;
}