.type{
    height: 46;
    width: 63;
    margin-top: 30;
    border-radius: 2;
    border-color: #D3D3D3;
    margin-left: 10;
    border-width: 1;
    background-color: white;

}
.bt_confirm{
    background-color: rgb(255,138,37);
    border-radius: 2;
    border-color: rgb(255,138,37);
    border-width: 1;
    font-size: 14;
    padding: 10;
}
