
page{
    color: #333;
}
.exampleHolderStyle {
    padding: 16;
    background-color: white;
}
.taskTabsHolderStyle{
    background-color: #eee;
    color: #333;
}
.chartItemInRepeaterStyle {
    vertical-align: bottom;
    padding: 8;
    border-left: 1;
    border-right: 1;
    border-color: #ffcfcfcf;
    width: 80;
    height: 40;
}
.task{
    background-color: rgb(255,138,37);
}

/*通用css样式*/
.leftIcon{
    margin-right: 15;
}
.rightIcon{
    position: absolute;
    right:8;
    margin-right:8;
}
.line{
    height: 1;
    width: 100%;
    background-color: rgb(239,239,239)
}
.orange-line{
    height: 1;
    width: 100%;
    background-color: #f0d59c
}
.task{
    background-color: rgb(255,138,37);
}
.bar-image {
    height:23;
    margin-right: 15
}
.bar-image1 {
    width:24;
    height:24;
    margin-right: 15;
}

.segmentbar {
    background-color: #eb750d;
    color:#ffffff;
    min-width: 60%;
}
.main-content{
    padding-bottom: 20;

}
/*订单*/

.color9{
    color: #999999;
}

.order-info{
    padding: 0 10 0 0;
}
.orderNumberContent{
    height: 50;
}

.order-number{
    font-size: 16;
}

.order-date{
    color: #858585;
    margin-top: 10;
    font-size: 12;
}

.company-info{
    color: #858585;
    font-size: 14;
    margin-top: 10;
}
.order-payment{
    color: #f72e00;
    font-size: 16;
}
.order-payment-gray{
    color: #999999;
    font-size: 16;
}

/*收货地址相关信息*/
.shipping-info{
    padding: 10;
}

.address-info{
    font-size: 15;
}
.packing-detail{
    font-size: 12;
    margin-top: 5;
    color: #999999;
}
.packing-detail label{
    margin-bottom: 5;
}
.btn{
    width:60;
    height: 30;
    padding: 1 0;
    color: white;
    font-size: 14 ;
    border-radius: 5;
}
.btn-accept{
    background-color: rgb(255,138,37);
}
.btn-cancel{
    border-width: 1;
    border-color: rgb(254,173,84);
    color: rgb(255,125,0);
}
/*折叠信息*/
#collapseInfoPanel{
}
.collapse-info{
    background-color: #fff5e5;
    padding:10;
    padding-bottom: 5;
}
.order-bottom-operate-3{
    height:40;
    padding-top: 15;
}
.order-bottom-operate{
    height:40;
    padding-top: 5;
}
.operate-btn-3{
    color:#017dfb;
    font-size: 16;
}
.operate-btn{
    margin-left:50 !important;
    color:#017dfb;
    font-size: 16;
}
.operate-btn-3-gray{
    color:#999999;
    font-size: 16;
}
.operate-btn-gray{
    margin-left:50 !important;
    color:#999999;
    font-size: 16;
}
/**筛选菜单*/
.filter-line{
    height: 1;
    width: 100%;
    margin:0;
    background-color: rgb(239,239,239)
}
.filter-option-stack {
    margin:0 0;
    background-color: #fff;
}
.cancel-btn-stack button{
    margin-top: 0;
    font-size:12;
    vertical-align: center;
}
.filter-option-background{
    background-color: #fff;
}
.filter-option-menu,.filter-option-item {
    color: #151F2F;
    height: 38;
    vertical-align: center;
    border-width: 1;
    border-color: white;

}
.filter-option-menu{
    background-color: #ddd;
}
/**预约时间sidedraw*/
.order-option-menu{
    padding: 10;
    background-color: #eee;
}
