@import { url('~/views/task/return-task/return-task-common.css') };

.iosActionBar{
    background-color:#FB8901;
}
.ios_barImage{
    height: 23px;
}

.ios_Line{
    height: 8px;
    background-color: rgb(240,240,240);
}

.order-content{
    position: absolute;
    color: #333;
    background-color: white;
    font-size: 14;
    margin-bottom: 5;
    height:auto;
    margin-top: 8px;
    /*padding: 10 0 10 0;*/
}
.ios_consignee{
    margin-top: 6px;
}
.img20{
    margin-right: 6px;
}
.ios_listLine{
    height: 8px;
    background-color: rgb(240,240,240);
    margin-top: 6px;
}