.iosActionBar{
    background-color: white;
    color: black;
}
Page{
    background-color: white;
}
.fh{
    font-size: 16px;
    color:#FB8901;
}
.title{
    font-size: 18px;
    color: #000000;
}

/*文章教程*/
.more{
    color: #cdcdcd;
    font-size: 12px;
}
.push{
    background-color: white;
    padding: 5px 10px 10px;
}
.push-img{
    /*margin-bottom: 5px;*/
    /*margin-top: 2px;*/
}
.push-right{
    margin-left: 15px;
    /*margin-top: 12px;*/
}
.items-view{
    margin-top: 14px;
}
.push-title{
    font-size: 16px;
    color: #333333;
}
.push-content{
    margin-top: 10px;
    font-size: 13px;
    color: #888888;
}
.push-icon{
    margin-top: 10px;
}
.list{
    margin-top: 5px;
}
.character{
    font-size: 10px;
    color:#666666;
    margin-left: 5px;
    margin-top: 3px;
}

.friend-favorite {
    vertical-align: center;
    horizontal-align: center;
    font-size: 10px;
    margin-left: 5px;
}

@keyframes friend-favorite-selected {
    from { transform: scale(1, 1) rotate(-120); opacity: 0; animation-timing-function: linear; }
    50% { transform: scale(2, 2) rotate(-60); opacity: 0.3; animation-timint-function: ease-in; }
    to { transform: scale(1, 1) rotate(0); opacity: 1; }
}

.friend-favorite-selected {
    animation-name: friend-favorite-selected;
    animation-duration: 0.4;
    vertical-align: center;
    horizontal-align: center;
    font-size: 10px;
    margin-left: 5px;
}

@keyframes friend-favorite-unselected {
    from { transform: scale(1, 1) rotate(120); opacity: 0; animation-timing-function: linear; }
    60% { transform: scale(2, 2) rotate(60); opacity: 0.3; animation-timint-function: ease-in; }
    to { transform: scale(1, 1) rotate(0); opacity: 1; }
}

.friend-favorite-unselected {
    animation-name: friend-favorite-unselected;
    animation-duration: 0.2;
    vertical-align: center;
    horizontal-align: center;
    font-size: 10px;
    margin-left: 5px;
}
