.iosActionBar{
    background-color: white;
    color: black;
}
label{
    text-align: center;
}
.page{
    background-color: rgb(240,240,240);
}
Page{
    background-color: white;
}

.content{
    margin-top:12%;
}

.content-label TextField{
    border-width: 1px;
    border-color: lightgray;
    width:14%;
    height: 13%;
    background-color: white;
    text-align: center;
    font-size: 30px;
}

.content-label{
    margin-top: 28px;
}

button{
    width:90%;
    height: 44px;
    background-color: rgb(255,138,37);
    color: white;
    border-radius: 6px;
    margin-top: 40px;
}
.Label_back{
    color: orange;
}