.mainview {
    background-color:white;
    
}

.iosActionBar{
    background-color: white;
    color: black;
}

.iosActionBar .leftBarBtn{
    color: rgb(255,138,37);;
}

.actionBar-view {
    color: orange;
    font-size: 16;
    padding-right: 10
}

Page { 
    background-color: white
}

.title-label {
    font-size: 18;
    color: black;
}


.line_text {
    height: 0.5;
    background-color: #D3D3D3 ;
    margin-left: 20;
    margin-right: 20
}


.hint-label {
    font-size: 16;
    color: #8A8A8A
}

.text-label {
    font-size: 14;
    color: black;
    margin-top: 10
}

.grid_label {
    margin-top: 30;
    font-size: 16;
    color: black;
    margin-left: 20;
    margin-right: 20
}

.grid_label_one {
    margin-top: 10;
    font-size: 16;
    color: black;
    margin-left: 20;
    margin-right: 20
}

.code_input {
    background-color:white;
    border-color: transparent;
    color: #8A8A8A;
    text-align: left
    
}

.name-label {
    width: 25%
}

.code-btn { 
    background-color:#FFDEAD; 
    border-radius:2px;
    border-color: white;
    border-width: 1px;
    font-size: 15;
    color: #FF8800;
    padding: 10
    
}

.grid_label_select { 
    background-color:#FF8800; 
    border-radius:2px;
    border-color: #FF8800;
    border-width: 1px;
    font-size: 16;
    color: white;
    margin-left: 20;
    margin-right: 20;
    margin-top: 10;
    margin-bottom: 10;
    padding: 10
    
}


.text {
   color: orange
}