.iosActionBar{
    background-color: white;
    color: black;
}

Page{
    background-color: white;
}
.content{
    background-color: white;
}
.line{
    background-color: rgb(240,240,240);
    height: 1px;
}
GridLayout{
    margin-top:5px;
}
TextField{
    font-size: 17px;
}

.identity TextField{
    margin-left:26px;
}

.loginPassword TextField{
    margin-left: 10px;
}

.nextBtn{
    width:90%;
    height: 44px;
    background-color: rgb(255,138,37);
    color: white;
    border-radius: 6px;
    margin-top: 40px;
    font-size: 18px;
}
.Label_back{
    color: orange;
}
