.iosActionBar{
    background-color: white;
    color: black;
}

.iosActionBar .leftBarBtn{
    color: rgb(255,138,37);;
}

.mainview {
    background-color: white;
}

.actionBar-view {
    color: orange;
    font-size: 16;
    margin-right: 10
}

.bar-image {

    height: 22;
}

.line {
    height: 1;
    background-color: #D3D3D3;
}

.line_text {
    height: 0.5;
    background-color: #D3D3D3;
    margin-left: 20;
    margin-right: 20
}

.grid_label {
    margin-top: 30;
    font-size: 16;
    color: black;
    margin-left: 20;
    margin-right: 20;
    height: 44px;
}
.code_input {
    background-color: white;
    border-color: transparent;
    color: #8A8A8A;
    text-align: left
}

.name-label {
    width: 25%
}

.grid_labe_passw {
    font-size: 16;
    color: black;
    margin-left: 20;
    margin-right: 20;
    height: 44px;
}
.find_test{
    color: black;

}
.bt_lon{
    border-radius: 5;
    background-color: #fb8901;
    margin: 20;
    color: white;
}
Page{
    background-color:white;

}
ActionBar{
    background-color:white;
}